.container
  .jumbotron
    .page-header
      .text-center
        %h1 Sign In
    .form-horizontal
      =form_tag sign_in_path do |f|
        -# .form-group
        -#   -if @sign_in_error
        -#     .alert.alert-danger
        -#       =@sign_in_error
        .form-group
          =label_tag :email, nil, class: 'col-sm-3 control-label'
          .col-sm-6
            =email_field_tag :email, nil, class: 'form-control'

        .form-group
          =label_tag :password, nil, class: 'col-sm-3 control-label'
          .col-sm-6
            =password_field_tag :password, nil, class: 'form-control'

        .form-group
          .col-sm-offset-3.col-sm-6.text-center
            =submit_tag 'Sign In', class: 'btn btn-primary'

        .form-group
          .col-sm-offset-3.col-sm-6
            .well.text-center
              %p New User?
              =link_to 'Sign Up', sign_up_path, class: 'btn btn-info'
