!!! html
%html
  %head
    %title LightningTalkApp
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %ul.nav.navbar-nav.navbar-left
            %li
              =image_tag("lightning_bolt.png", class: 'lightning_bolt')
            .navbar-brand
              %li
                -# %a{:href => "#"}
                -# =link_to 'Lightning Talks', root_path, class: 'lightning_talk_link'
                Lightning Talks
        .navbar-form
          %ul.nav.navbar-nav.navbar-right
            -if current_user
              %li
                %a{:href => '#'}
                  ="#{current_user.first_name} #{current_user.last_name}"
              %li
                %button.btn.btn-default.navbar-btn=link_to 'Sign Out', sign_out_path


    -# %nav.navbar.navbar-inverse.navbar-fixed-top
    -#   .container-fluid
    -#     .navbar-header
    -#       %a.nav-brand{:href => ""}
    -#         Lightning Talks
            -# =image_tag("lightning_bolt.png", class: 'lightning_bolt')



    .container
      -if notice
        .alert.alert-success=notice
    =yield
